on:
  push:
    branches:
      - main

name: Pages 배포를 하자.

jobs:
  deploy:
    name: Pages 배포를 하자.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build Astro Project
        run: yarn build

      - name: 서비스를 Cloudflare pages에 배포해요
        run: |
          yarn add --dev wrangler
          yarn wrangler pages deploy ./dist --project-name=junghyeonsu-dev
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
